---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import SectionWrapper from "../components/SectionWrapper.astro";

const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.content);
---

<article {...storyblokEditable(blok)}>
  <SectionWrapper bgColor="ternary">
    <img
      class="h-[460px] w-full object-cover lg:h-[650px] lg:px-24 lg:pt-24"
      alt={blok.image.alt}
      src={`${blok.image.filename}/m/1600x0`}
    />
    <div class="container mx-auto mb-12">
      <h1 class="mb-4 mt-12">
        {blok.title}
      </h1>
      <h2 class="mb-4 text-2xl font-bold text-[#1d243d]">
        {blok.subtitle}
      </h2>
      <div class="prose" set:html={renderedRichText} />
    </div>
  </SectionWrapper>
</article>
