---
import { renderRichText, storyblokEditable } from "@storyblok/astro";
import SectionWrapper from "../components/SectionWrapper.astro";
import LinkButton from "./LinkButton.astro";
import type { ContactSectionStoryblok } from "../../component-types-sb";
import Arrow from "@images/arrow.svg";
import { Image } from "astro:assets";

interface Props {
  blok: ContactSectionStoryblok;
  language: string;
}

const { blok, language } = Astro.props;

const renderedRichText = renderRichText(blok.description);
---

<SectionWrapper {...storyblokEditable(blok)} bgColor={blok.background_color}>
  <div class="relative mt-12 flex w-full justify-between max-lg:flex-col">
    <div class="p-4 pl-0 lg:w-1/2 lg:max-w-96 lg:py-12 lg:pr-12">
      <div class="mb-12">
        {
          !!blok.title && (
            <h2 class="mb-4 text-lg  font-bold md:text-2xl">{blok.title}</h2>
          )
        }
        {!!blok.address && <p class="mb-8 font-bold">{blok.address}</p>}
        {!!blok.description && <div set:html={renderedRichText} class="mb-6" />}
        <div class="z-[1] relative w-fit">
          {
            blok.cta?.[0] && (
              <LinkButton language={language} blok={blok.cta[0]} />
            )
          }
          <Image src={Arrow} alt="" class="max-[540px]:right-[-140px] max-md:rotate-[24deg] right-[-200px] md:right-[-300px] top-[80%] md:top-[-12%] absolute"/>
        </div>
      </div>

      {
        !!blok.opening_hours?.length && (
          <div class="relative z-10 mb-12">
            <h2 class="mb-4 text-lg font-bold md:text-2xl">Opening Hours</h2>
            {
              <ul class=" lg:w-64">
                {blok.opening_hours.map((day) => (
                  <li>
                    <p class="flex justify-between pb-1">
                      <span class="pr-2">{day.day}</span>
                      <span>{day.hours}</span>
                    </p>
                  </li>
                ))}
              </ul>
            }
          </div>
        )
      }
      <div class="mb-12">
        <h2 class="mb-4 text-lg font-bold md:text-2xl">Contact</h2>
        <div class="flex flex-col gap-4">
          {
            blok.phone_number?.[0] && (
              <LinkButton language={language} blok={blok.phone_number[0]} />
            )
          }

          {
            blok.email?.[0] && (
              <LinkButton language={language} blok={blok.email[0]} />
            )
          }
        </div>
      </div>
    </div>
    <div
      class="z-10 w-full bg-text-300 max-lg:h-64 lg:my-16 lg:w-1/2 lg:self-stretch"
    >
    </div>
  </div>
</SectionWrapper>
