---
import { storyblokEditable } from "@storyblok/astro";
import SectionWrapper from "../components/SectionWrapper.astro";
import LinkButton from "./LinkButton.astro";
import type { HeroStoryblok } from "../../component-types-sb";
import { Image } from "astro:assets";

interface Props {
  blok: HeroStoryblok;
  language: string;
}

const { blok, language } = Astro.props;
---

<div
  {...storyblokEditable(blok)}
  class="to-transparent relative overflow-hidden bg-gradient-to-r from-text-900/40 via-text-900/50 md:h-screen md:pt-24"
>
  <Image
    src={`${blok.background_image.filename}/m/`}
    alt={blok.background_image?.alt || ""}
    class="absolute left-0 top-0 -z-50 h-full w-full object-cover max-md:scale-x-[-1]"
    loading="eager"
    width="1920"
    height="1080"
  />
  <SectionWrapper animation="animationHidden">
    <div class="py-6">
      <h1 class="mb-3 text-secondary-100">
        {blok.headline}
      </h1>
      <p
        class="mb-3 max-w-[30ch] font-lora text-base font-light text-secondary-100 md:text-2xl"
      >
        {blok.subheadline}
      </p>
      {blok.cta?.[0] && <LinkButton language={language} blok={blok.cta[0]} />}
    </div>
  </SectionWrapper>
</div>
