---
import { storyblokEditable } from "@storyblok/astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import SectionWrapper from "../components/SectionWrapper.astro";

const { blok } = Astro.props;
let dynamicHeroClass = blok.layout === "constrained" ? "container mx-auto" : "";
---

<div
  {...storyblokEditable(blok)}
  class={`${dynamicHeroClass} md:h-screen relative flex overflow-hidden pt-44`}
>
  <Image
    src={blok.background_image.filename}
    alt={blok.background_image.alt}
    class="absolute left-0 top-0 -z-50 h-full w-full object-cover"
    width={1}
    height={1}
  />
  <SectionWrapper bgColor="transparent">
    <div
      class="from-black/70 via-black/50 to-transparent w-4/6 bg-gradient-to-t py-6"
    >
      <h1 class="mb-3 text-secondary-100">
        {blok.headline}
      </h1>
      <p
        class="mb-3 font-lora text-base font-light text-secondary-100 md:text-2xl"
      >
        {blok.subheadline}
      </p>
      <Button text="Menu" />
    </div>
  </SectionWrapper>
</div>
