---
import { getTransLink } from "../utils/langs";

export interface Props {
  blok: {
    link: {
      url?: string;
      anchor?: string;
      cached_url: string;
      story: {
        slug: string;
      };
    };

    text: string;
    style: "link" | "primary" | "secondary";
    fontSize?: string;
    color?: "white" | "black";
    font?: "lora" | "rubik";
  };

  language: string;
}

const { blok, language } = Astro.props;

const isExternal = !!blok.link.url;

const anchor = !!blok.link.anchor ? `#${blok.link.anchor}` : "";
const url = isExternal
  ? blok.link.url
  : getTransLink(language, `/${blok.link.story.slug}${anchor}`);

const styles = {
  color: {
    white: "text-secondary-100",
    black: "text-text-500",
  },
  font: {
    lora: "font-lora",
    rubik: "font-rubik",
  },
};
---

<a
  href={url}
  class:list={[
    "capitalize text-secondary-100 hover:underline hover:decoration-2 hover:underline-offset-2 max-md:text-md",
    styles.color[blok.color || "white"],
    styles.font[blok.font || "rubik"],
    blok.fontSize,
  ]}
>
  {blok.text}
</a>
