---
import type { LinkButtonStoryblok } from "../../component-types-sb";
import { getTransLink } from "../utils/langs";

export interface Props {
  blok: LinkButtonStoryblok;
  language: string;
}

const { blok, language } = Astro.props;

const isExternal = !!blok.link.url;

const anchor = !!blok.link.anchor ? `#${blok.link.anchor}` : "";
const url = isExternal
  ? blok.link.url
  : getTransLink(language, `/${blok.link.story?.slug}${anchor}`);

const styles = {
  font: {
    lora: "font-lora",
    rubik: "font-rubik",
  },
  type: {
    primary: "text-secondary-100 bg-secondary-500",
    secondary: "text-text-500 bg-ternary-300",
    ternary: "",
  },
};

const type = !!blok.style ? styles.type[blok.style] : styles.type.primary;
---

<a
  href={url}
  class:list={[
    "inline-block px-11 py-3 text-center capitalize text-text-500 shadow-main shadow-text-500 hover:bg-secondary-300 max-md:text-md",
    type,
  ]}
>
  {blok.text}
</a>
