---
import { storyblokEditable } from "@storyblok/astro";

export interface Props {
  blok: {
    link: {
      url?: string;
      anchor?: string;
      cached_url: string;
      story: {
        full_slug: string;
      };
    };

    text: string;
    style: "link" | "primary" | "secondary";
    fontSize?: string;
    color?: "white" | "black";
    font?: "lora" | "rubik";
  };

  language: string;
}

const { blok } = Astro.props;

const isExternal = !!blok.link.url;

const anchor = !!blok.link.anchor ? `#${blok.link.anchor}` : "";
const url = isExternal
  ? blok.link.url
  : `/${blok.link.story.full_slug}${anchor}`;

const styles = {
  color: {
    white: "text-secondary-100 hover:after:bg-secondary-100",
    black: "text-text-500 hover:after:bg-text-500",
  },
  font: {
    lora: "font-lora",
    rubik: "font-rubik",
  },
};
---

<a
  {...storyblokEditable(blok)}
  href={url}
  class:list={[
    "relative capitalize text-secondary-100 duration-[1500ms] after:transition-all max-md:text-md",
    "after:absolute after:bottom-0 after:left-0 after:block after:h-[1px] after:w-full after:-translate-x-4 after:-translate-y-4 after:opacity-0 hover:after:translate-x-0 hover:after:translate-y-0 hover:after:opacity-100 md:after:h-[3px]",
    styles.color[blok.color || "white"],
    styles.font[blok.font || "rubik"],
    blok.fontSize,
  ]}
>
  {blok.text}
</a>
