---
import { renderRichText, storyblokEditable } from "@storyblok/astro";
import SectionWrapper, {
  type Props as SectionWrapperProps,
} from "../components/SectionWrapper.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Button from "../components/Button.astro";

interface Props {
  blok: {
    title: string;
    address: string;
    description: any;
    cta: string;
    background_color: SectionWrapperProps["bgColor"];
  };
}

const { blok } = Astro.props;

const renderedRichText = renderRichText(blok.description);
---

<div {...storyblokEditable(blok)}>
  <SectionWrapper bgColor={blok.background_color}>
    <SectionTitle title={blok.title} />
    <div
      class="m-auto max-md:flex-col-reverse flex w-full max-w-4xl justify-between bg-secondary-500 shadow-main shadow-text-500"
    >
      <div class="md:max-w-72 lg:max-w-96 p-4 md:p-12">
        <p class="mb-8 font-bold">{blok.address}</p>
        <div set:html={renderedRichText} class="mb-10" />
        <Button text={blok.cta} classes="bg-ternary-500" />
      </div>
      <div class="w-full max-md:h-64 md:self-stretch bg-text-300"></div>
    </div>
  </SectionWrapper>
</div>
