---
import { storyblokEditable } from "@storyblok/astro";
import SectionWrapper, {
  type Props as SectionWrapperProps,
} from "../components/SectionWrapper.astro";
import SectionTitle from "../components/SectionTitle.astro";
import LinkButton, { type Props as LinkButtonProps } from "./LinkButton.astro";

interface Props {
  blok: {
    title: string;
    rating: number;
    cta: LinkButtonProps["blok"][];
    background_color: SectionWrapperProps["bgColor"];
  };
  language: string;
}

const { blok, language } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <SectionWrapper bgColor={blok.background_color}>
    <SectionTitle title={blok.title} classes="text-center" />
    <p class="text-center font-lora text-xl font-medium md:text-5xl">
      {blok.rating}
    </p>
    <div class="flex justify-center">
      {blok.cta[0] && <LinkButton language={language} blok={blok.cta[0]} />}
    </div>
  </SectionWrapper>
</div>
