---
import { storyblokEditable } from "@storyblok/astro";
import { Image } from "astro:assets";

interface Props {
  blok: {
    name: string;
    role: string;
    rating: string;
    review: string;
    image: any;
  };
}

const { blok } = Astro.props;

---

<article
  {...storyblokEditable(blok)}
  class="w-80 bg-secondary-500 p-4 shadow-main shadow-text-500 first:-translate-y-12 last:translate-y-12"
>
  <div class="flex pb-16">
    <div class="shadow-main shadow-text-500">
      <Image src={blok.image.filename} alt="" width={150} height={150} />
    </div>
    <div class="flex flex-col pl-8">
      <p class="font-lora text-lg font-bold">
        {blok.name}
      </p>
      <p class="text-sm">
        {blok.role}
      </p>
      <p class="flex grow items-center">
        {blok.rating}
      </p>
    </div>
  </div>
  <p>
    {blok.review}
  </p>
</article>
