---
import RatingComponent from "../components/Rating.astro";
import { storyblokEditable } from "@storyblok/astro";
import type { ReviewCardStoryblok } from "../../component-types-sb";
import { Image } from "astro:assets";

interface Props {
  blok: ReviewCardStoryblok;
}

const { blok } = Astro.props;
---

<article
  {...storyblokEditable(blok)}
  class="mb-3 mr-3 w-64 bg-secondary-500 p-4 shadow-main shadow-text-500 first:-translate-y-12 last:translate-y-12 max-xl:shrink-0 md:w-72 xl:w-80"
>
  <div class="flex pb-8 md:pb-16">
    <div class="shadow-main shadow-text-500 max-md:w-1/2">
      <Image
        src={`${blok.image.filename}/m/filters:quality(60)`}
        alt=""
        width={150}
        height={150}
      />
    </div>
    <div class="flex flex-col pl-8">
      <p class="font-lora text-md font-bold md:text-lg">
        {blok.name}
      </p>
      <p class="text-sm md:text-md">
        {blok.role}
      </p>
      <p class="flex grow items-center">
        <RatingComponent rating={blok.rating} size={20} />
      </p>
    </div>
  </div>
  <p>
    {blok.review}
  </p>
</article>
