---
import { Image } from "astro:assets";
import { getTransLink } from "../utils/langs";
const { language, article } = Astro.props;
---

<article class="column flex h-full flex-col bg-secondary-300 shadow-main">
  <Image
    class="h-48 w-full rounded object-cover object-center"
    src={`${article.image.filename}/m/filters:quality(30)`}
    width={400}
    height={240}
    alt={article.image.alt}
  />
  <div class="flex grow flex-col p-4">
    <h2 class="text-lg font-semibold lg:text-xl">
      {article.title}
    </h2>
    <p class="text-gray-700 my-4 line-clamp-2 grow leading-relaxed">
      {article.teaser}
    </p>
    <a
      href={getTransLink(language, `/events/${article.slug}`)}
      class="text-blue-600 block w-fit bg-ternary-300 px-8 py-2 font-lora font-semibold shadow-main hover:bg-ternary-200"
      title="read more"
    >
      Read
    </a>
  </div>
</article>
