---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/placeholder-social.jpg" } = Astro.props;

const DEFAULT = {
  TITLE: "Kawusia | Cafe bar",
  DESCRIPTION:
    "Savor the aroma of freshly brewed coffee at our welcoming coffee bar. Experience a variety of handcrafted beverages and delectable treats in a relaxed atmosphere. Explore our menu now!",
};

const _title = title ?? DEFAULT.TITLE;
const _description = description ?? DEFAULT.DESCRIPTION;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{_title}</title>
<meta name="author" content="Michał Rosa" />
<meta name="title" content={_title} />
<meta name="description" content={_description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={_title} />
<meta property="og:description" content={_description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={_title} />
<meta property="twitter:description" content={_description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
