---
import { useStoryblokApi } from "@storyblok/astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import isPreview from "../utils/isPreview";

const { language, langSwitch } = Astro.props;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories/config", {
  version: isPreview() ? "draft" : "published",
  resolve_links: "url",
});

const header = data.story.content.header[0];
const footer = data.story.content.footer[0];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>The Storyblok Astro Ultimate Tutorial: Part 2</title>
  </head>
  <body class="mx-auto">
    <Header blok={header} langSwitch={langSwitch} language={language} />
    <slot />
    <Footer blok={footer} langSwitch={langSwitch} language={language} />
  </body>
</html>
